html {

    position: fixed;

    min-width: 1024px;

    min-height: 768px;

    height: 100%;

}



body {height:100%;

   width:100%;

   background-image: url("congrats.png");/*your background image*/  

   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  

   background-size:cover;    

}



 

#product {

	background-color:transparent;

	position: absolute;

	border: none;

	height:300px;

	top: 330px;;

	left: 730px;

	width: 420px;

	

}